* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/*
1
S
E
C
T
I
O
N
*/
.wrap {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #828282;
}

.menu__list {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list .menu__item a {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.menu__list .menu__item a:hover {
  transition: color 0.3s;
  color: #070707;
}

.caption {
  display: flex;
  justify-content: space-between;
}

.caption__name {
  font-family: Gilroy-Bold;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.caption__name._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.caption__description {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin-top: 95px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0.3s;
}

.caption__description._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.caption__language {
  font-family: Gilroy-Bold;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  height: 68px;
  width: 17px;
  margin-top: 66px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  cursor: pointer;
}

.caption__language_1:hover {
  transition: all 0.3s;
  color: black;
}

.caption__language_2:hover {
  transition: all 0.3s;
  color: black;
}

.main-image {
  margin-bottom: 104px;
  height: 387px;
  opacity: 0;
  transform: translate(0px, 30%);
  transition: all 0.6s ease 0.6s;
}

.main-image._active {
  opacity: 1;
  transform: translate(0px, 0px);
}

.main-image__img {
  height: 100%;
  background-image: url(../images/main-image_1.png);
  background-position: 50%;
}

@media screen and (max-width: 1023px) {
  .header {
    margin-left: 30px;
    margin-right: 30px;
  }

  .caption {
    margin-left: 30px;
    margin-right: 30px;
  }

  .main-image {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 505px) {
  .header {
    border: none;
  }

  .main-image {
    height: 478px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-image__img {
    background-image: url(../images/main-image_1-slim.png);
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 37px;
  }

  .caption {
    margin-left: 30px;
    flex-direction: column;
  }

  .caption__name {
    margin-top: 65px;
  }

  .caption__description {
    margin-top: 23px;
  }

  .caption__language {
    position: absolute;
    visibility: hidden;
    transform-origin: right center;
    transform: translate(30px, 0px);
    transition: visibility 0s ease-out, transform 0s ease-out;
    z-index: 10;
    display: block;
    right: 28px;
    bottom: 57px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: #828282;
    width: auto;
    height: auto;
  }

  .caption__language._active {
    visibility: visible;
    transform: translate(0px, 0px);
    transition: visibility 0.3s ease-out 0.1s, transform 0.3s ease-out 0.1s;
  }

  .menu__list {
    left: 29px;
    transform: scaleY(0);
    position: absolute;
    visibility: hidden;
    transition: transform 0.3s ease-out, visibility 0.3s ease-out;
    transform-origin: top center;
    z-index: 10;
    display: flex;
    width: 85%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 66px;
    row-gap: 33px;
  }

  .menu_line span {
    z-index: 11;
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
    right: 30px;
    top: 75px;
    opacity: 1;
    transition: all 0.3s ease;
    opacity: 1;
  }

  .menu_line._active span {
    opacity: 0;
  }

  .menu_line._active::before {
    transform: translate(0px, -8px) rotate(45deg);
  }

  .menu_line._active::after {
    transform: translate(0px, 8px) rotate(-45deg);
  }

  .menu_line::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
    right: 30px;
    top: 83px;
    z-index: 11;
    transition: all 0.3s ease;
  }

  .menu_line::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
    right: 30px;
    top: 67px;
    z-index: 11;
    transition: all 0.3s ease;
  }

  .menu__list._active {
    transform: scaleY(1);
    visibility: visible;
  }

  .menu .menu__list .menu__item a {
    font-size: 34px;
    line-height: 42px;
  }
}

/*
2
S
E
C
T
I
O
N
*/

.page_gray {
  background: #F6F6F6;
}

.main__image {
  background-image: url(https://blogthinkbig.com/wp-content/uploads/sites/4/2019/02/madera-met%C3%A1lica-titanio-bosque-arboles.jpg?fit=1800%2C665);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 718px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  max-width: 480px;
  margin-top: 110px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.content__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.content__text {
  max-width: 480px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  padding-bottom: 44px;
  margin-left: 30px;
  margin-right: 30px;
}

.content__text_1 {
  margin-top: 17px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0.2s;
}

.content__text_1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.content__text_2 {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0.4s;
}

.content__text_2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.content__text_3 {
  margin-bottom: 107px;
  max-width: 340px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0.6s;
}

.content__text_3._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/*
3
S
E
C
T
I
O
N
*/
.title {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.title__text {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.title__text_portfolio {
  padding-top: 112px;
}

.title__text_skills {
  padding-top: 91px;
}

.title__text_contacts {
  padding-top: 114px;
}

.description {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0.2s;
}

.description._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.description__text {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  margin-top: 69px;
}

.programs {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  align-items: center;
  margin-top: 71px;
  margin-bottom: 100px;
}

.programs__column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.programs__column_1 {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.programs__column_1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.programs__column_2 {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.programs__column_2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.programs__column_3 {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.programs__column_3._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.programs__column_4 {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.programs__column_4._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.programs__image {
  height: 88px;
}

.programs__name {
  height: 36px;
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 28px;
  color: #828282;
}

.stars {
  width: 147px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin: 40px auto 0 auto;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

.stars__star {
  color: #E5E5E5;
}

.black {
  color: black;
}

@media screen and (max-width: 768px) {
  .programs {
    grid-template-columns: 6fr 6fr;
  }

  .programs__column_1 {
    margin-bottom: 81px;
  }

  .programs__column_2 {
    margin-bottom: 81px;
  }
}

@media screen and (max-width: 424px) {
  .programs {
    grid-template-columns: 12fr;
  }

  .programs__column_3 {
    margin-bottom: 81px;
  }
}

/*
4
S
E
C
T
I
O
N
*/
.col {
  display: flex;
  flex-direction: column;
}

.col__img {
  margin-bottom: 44px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 100%;
}

.col__img_1 {
  margin-top: 47px;
  transform: translate(-30px, 0px);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.col__img_1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.col__img_2 {
  margin-top: 100px;
  margin-top: 47px;
  transform: translate(30px, 0px);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.col__img_2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.col__img_3 {
  margin-top: 100px;
  margin-top: 47px;
  transform: translate(-30px, 0px);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.col__img_3._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.col__link {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #070707;
}

.col__link_3 {
  margin-bottom: 96px;
}

/*
5
S
E
C
T
I
O
N
*/
.description_footer {
  margin-top: 20px;
}

.btn {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #070707;
  max-width: 180px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 30px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.btn__link {
  color: #FFFFFF;
}

.btn__link:visited {
  color: #FFFFFF;
}

.social {
  margin: 0 auto;
  max-width: 342px;
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.social._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.desc {
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 123px;
  color: #828282;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}

.desc._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .btn {
    max-width: 316px;
  }

  .btn__link {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .social {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/fonts/gilroy-bold.woff") format("woff"), url("../fonts/fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/fonts/gilroy-medium.woff") format("woff"), url("../fonts/fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
