* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}



/*
1
S
E
C
T
I
O
N
*/

.wrap {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #828282;
}

.menu__list {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu__item {
        a {
            font-family: Gilroy-Bold;
            font-size: 18px;
            line-height: 22px;
            color: #828282;


            &:hover {
                transition: color .3s;
                color: #070707;
            }
        }
    }
}

.caption {
    display: flex;
    justify-content: space-between;

    &__name {
        font-family: Gilroy-Bold;
        font-size: 47.3392px;
        line-height: 59px;
        color: #070707;
        margin-top: 30px;
        margin-bottom: 30px;

        transform: translate(0px, 50%);
        opacity: 0;
        transition: all .6s ease 0s;

        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    &__description {
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 22px;
        color: #070707;
        margin-top: 95px;
        transform: translate(0px, 50%);
        opacity: 0;
        transition: all 0.6s ease .3s;

        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    &__language {
        font-family: Gilroy-Bold;
        font-size: 16px;
        line-height: 20px;
        color: #828282;
        height: 68px;
        width: 17px;
        margin-top: 66px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        cursor: pointer;

        &_1 {
            &:hover {
                transition: all .3s;
                color: black;
            }
        }

        &_2 {
            &:hover {
                transition: all .3s;
                color: black;
            }
        }


    }

}

.main-image {
    margin-bottom: 104px;
    height: 387px;
    opacity: 0;
    transform: translate(0px, 30%);
    transition: all .6s ease .6s;

    &._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__img {
        height: 100%;
        background-image: url(../images/main-image_1.png);
        background-position: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        margin-left: 30px;
        margin-right: 30px;
    }

    .caption {
        margin-left: 30px;
        margin-right: 30px;
    }

    .main-image {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 505px) {
    .header {
        border: none;
    }

    .main-image {
        height: 478px;
        margin-left: 0px;
        margin-right: 0px;

        &__img {
            background-image: url(../images/main-image_1-slim.png);
            background-repeat: no-repeat;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 37px;
        }
    }

    .caption {
        margin-left: 30px;
        flex-direction: column;

        &__name {
            margin-top: 65px;

        }

        &__description {
            margin-top: 23px;
        }
    }



    .caption__language {
        position: absolute;
        visibility: hidden;
        transform-origin: right center;
        transform: translate(30px, 0px);
        transition: visibility 0s ease-out, transform 0s ease-out;
        z-index: 10;
        display: block;
        right: 28px;
        bottom: 57px;
        font-family: Gilroy-Bold;
        font-size: 34px;
        line-height: 42px;
        color: #828282;
        width: auto;
        height: auto;

    }

    .caption__language._active {
        visibility: visible;
        transform: translate(0px, 0px);
        transition: visibility .3s ease-out .1s, transform .3s ease-out .1s;

    }

    .menu {
        &__list {
            left: 29px;
            transform: scaleY(0);
            position: absolute;
            visibility: hidden;
            transition: transform .3s ease-out, visibility .3s ease-out;
            transform-origin: top center;
            z-index: 10;

            display: flex;
            width: 85%;
            height: 100%;
            background-color: white;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 66px;
            row-gap: 33px;

            &__item {}
        }

        &_line {

            span {
                z-index: 11;
                position: absolute;
                width: 33px;
                height: 4px;
                background-color: black;
                right: 30px;
                top: 75px;
                opacity: 1;
                transition: all .3s ease;
                opacity: 1;
            }

            &._active {
                span {
                    opacity: 0;
                }

                &::before {
                    transform: translate(0px, -8px) rotate(45deg);
                }

                &::after {
                    transform: translate(0px, 8px) rotate(-45deg);
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 33px;
                height: 4px;
                background-color: black;
                right: 30px;
                top: 83px;
                z-index: 11;
                transition: all .3s ease;
            }

            &::after {
                content: "";
                position: absolute;
                width: 33px;
                height: 4px;
                background-color: black;
                right: 30px;
                top: 67px;
                z-index: 11;
                transition: all .3s ease;
            }
        }
    }



    .menu {
        &__list._active {

            transform: scaleY(1);
            visibility: visible;
        }

        .menu__list .menu__item a {
            font-size: 34px;
            line-height: 42px;
        }
    }
}


/*
2
S
E
C
T
I
O
N
*/


.page {
    &_gray {
        background: #F6F6F6;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: Gilroy-Bold;
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        color: #070707;
        max-width: 480px;
        margin-top: 110px;

        transform: translate(0px, 50%);
        opacity: 0;
        transition: all .6s ease 0s;

        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    &__text {
        max-width: 480px;
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #070707;
        padding-bottom: 44px;
        margin-left: 30px;
        margin-right: 30px;

        &_1 {
            margin-top: 17px;
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease .2s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_2 {
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease .4s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_3 {
            margin-bottom: 107px;
            max-width: 340px;
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease .6s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }
}


/*
3
S
E
C
T
I
O
N
*/

.title {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all .6s ease 0s;

    &._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    &__text {
        font-family: Gilroy-Bold;
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        color: #070707;



        &_portfolio {
            padding-top: 112px;
        }

        &_skills {
            padding-top: 91px;


        }

        &_contacts {
            padding-top: 114px;
        }
    }
}

.description {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all .6s ease .2s;

    &._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    &__text {
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #070707;
        margin-top: 69px;
    }
}

.programs {

    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 100px;

    &__wrap {
        &_1 {}

        &_2 {}

        &_3 {}

        &_4 {}
    }

    &__column {
        display: flex;
        flex-direction: column;
        text-align: center;

        &_1 {
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_2 {
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_3 {
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_4 {
            transform: translate(0px, 50%);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }


    }

    &__image {
        height: 88px;
    }

    &__name {
        height: 36px;
        font-family: Gilroy-Bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 28px;
        color: #828282;

    }
}

.stars {
    width: 147px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 40px auto 0 auto;
    cursor: default;
    user-select: none;

    &__star {
        color: #E5E5E5;

    }
}

.black {
    color: black;
}

@media screen and (max-width: 768px) {
    .programs {

        grid-template-columns: 6fr 6fr;

        &__column {
            &_1 {
                margin-bottom: 81px;
            }

            &_2 {
                margin-bottom: 81px;
            }
        }
    }
}

@media screen and (max-width: 424px) {
    .programs {

        grid-template-columns: 12fr;

        &__column {
            &_3 {
                margin-bottom: 81px;
            }

        }
    }
}

/*
4
S
E
C
T
I
O
N
*/


.col {
    display: flex;
    flex-direction: column;

    &__img {
        margin-bottom: 44px;
        margin-left: 30px;
        margin-right: 30px;

        &_1 {
            margin-top: 47px;
            transform: translate(-30px, 0px);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_2 {
            margin-top: 100px;
            margin-top: 47px;
            transform: translate(30px, 0px);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }

        &_3 {
            margin-top: 100px;
            margin-top: 47px;
            transform: translate(-30px, 0px);
            opacity: 0;
            transition: all .6s ease 0s;

            &._active {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }

    &__link {
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-decoration-line: underline;
        color: #070707;

        &_3 {
            margin-bottom: 96px;
        }
    }
}



/*
5
S
E
C
T
I
O
N
*/

.description_footer {
    margin-top: 20px;
}

.btn {
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    background: #070707;
    max-width: 180px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 30px;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all .6s ease 0s;

    &._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    &__link {
        color: #FFFFFF;

        &:visited {
            color: #FFFFFF;
        }
    }
}

.social {
    margin: 0 auto;
    max-width: 342px;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all .6s ease 0s;

    &._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.desc {
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 123px;
    color: #828282;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all .6s ease 0s;

    &._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .btn {
        max-width: 316px;

        &__link {
            width: 100%;
        }
    }
}

@media screen and (max-width: 400px) {
    .social {
        margin-left: 30px;
        margin-right: 30px;
    }
}




@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/fonts/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fonts/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/fonts/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/fonts/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fonts/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/fonts/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}